.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transition: background-color 1s;
}

.app-container{
  max-width: 550px;
  width: 90vw;
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 50px;
}

.fake-element{
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

.text{
  transition: opacity .5s, height 1s;
}

.quote{
  font-size: 1.8rem;
  text-align: center;
}

.quote-text::before{
  content: ' ';
}

.author{
  text-align: right;
  margin-top: 20px;
}

.author::before{
  content: '- ';
}

.button-bar{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.button{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 4px;
  margin-right: 5px;
  padding: 10px 10px;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 1s;
}

.button::before {
  content: '';
  position: absolute;
  top: var(--mouse-y, 50%);
  left: var(--mouse-x, 50%);
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) scale(0);
  opacity: 1;
  transition: transform 0.5s, opacity 0.5s;
  border-radius: 50%;
  pointer-events: none;
}

.button:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 0.4;
}

.submit-btn{
  width: 100px;
  margin: 0;
}

.app-author{
  margin-top: 15px;
  font-size: 0.8rem;
  text-decoration: none;
}

@media (max-width: 550px){
  html{
    font-size: 12px;
  }

  .app-container{
    padding: 20px 20px;
  }

  .button{
    width: 35px;
    height: 35px;
  }

  .submit-btn{
    width: 80px;
  }
}